.section-title {
  width: 125px;
  height: 29px;
  top: 344px;
  left: 15px;

  & span:first-child {
    color: $color-blue;
    
  }
  
  & span:not(:first-child) {
    color: $color-dark-grey;
  }
}
