.text-shadow {
  width: max;
  height: 168px;
  top: 16px;
  left: 16px;
  color: $color-dark-grey;
  border-radius: 15%;
  border: 1px solid $color-blue;
}

p {
  font-size: 12px;
  line-height: 21px;
}
