$color-red: #F93442;
$color-white: #fff;
$color-black: #000;
$color-blue: #0F8ED6;
$color-dark-grey:#333;
$color-light-blue:rgba(15, 142, 214, 0.2);
$color-light-grey: rgba(235, 226, 226, 0.883);
$color-purple: rgb(179, 16, 185);
$color-green: rgb(98, 233, 36);
$color-blue-navy: rgb(51, 109, 185);
$color-darker-green:#33B540;
$color-orange-yellow: #FEBB43;
