extends ../_component/layout/base

block awesome-content 
  .grid 
    .cell(row)
      .nicolleta1981-header Hello. This is my CV
    .cell(
      row 
      center
    )
      .ns-youtube
      .main-title Nicoleta Azoitei

