
extends ../_component/layout/base

block awesome-content 
  .grid 
    .cell(row)
      .nicolleta1981-header Hello. This is my CV

    .cell(
      row 
      center
    )
      .ns-youtube

      

    .cell(center row)
      h1.main-title 
        span Nicoleta 
        span Azoitei
    .cell(center row)
      h2.sub-title Junior Developer

    .cell 
      .small-break

    .cell(left row)
      h2.section-title
        span About 
        span me
    
    .cell(center row)
      .text-shadow 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur neque ipsam perferendis enim delectus molestiae nostrum labore debitis molestias inventore exercitationem aut nihil sed placeat explicabo, distinctio quis, assumenda rerum officia dolores facilis praesentium nulla.
      
    .cell(center row)
      .download-pill 
        span.ns-download  
        span DOWNLOAD CV

    .cell(center row)
      .arrow
        .ns-double-arrow

