@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?p5spei') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?p5spei') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?p5spei##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ns-"], [class*=" ns-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ns-facebook2 {
  &:before {
    content: $ns-facebook2; 
  }
}
.ns-github {
  &:before {
    content: $ns-github; 
  }
}
.ns-mail4 {
  &:before {
    content: $ns-mail4; 
  }
}
.ns-skype {
  &:before {
    content: $ns-skype; 
  }
}
.ns-twitter {
  &:before {
    content: $ns-twitter; 
  }
}
.ns-whatsapp {
  &:before {
    content: $ns-whatsapp; 
  }
}
.ns-double-arrow {
  &:before {
    content: $ns-double-arrow; 
  }
}
.ns-download {
  &:before {
    content: $ns-download; 
  }
}
.ns-youtube {
  &:before {
    content: $ns-youtube; 
  }
}

