$icomoon-font-family: "ns" !default;
$icomoon-font-path: "/asset/font" !default;

$ns-double-arrow: "\e901";
$ns-download: "\e900";
$ns-facebook2: "\e902";
$ns-github: "\e903";
$ns-heart: "\e904";
$ns-mail4: "\e905";
$ns-medal: "\e906";
$ns-skype: "\e907";
$ns-stop-watch: "\e908";
$ns-twitter: "\e909";
$ns-whatsapp: "\e90a";
$ns-youtube: "\e90b";

