.cell {
  &[row] {
    grid-column: 1/-1;
  }

  &[center] {
    display: flex;
    justify-content: center;
  }

  &[left] {
    display: absolute;
    align-content: left;
  }

  &[span="4"] {
    grid-column: span 4;
    display: block;
  }

  &[span="1"] {
    overflow: hidden;
    grid-column: span 1;
    // grid-row: span 1;
    width: 65px;
    // height: 65px;
  }
}



// mobile first grid
.grid {
  margin: 0 15px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

// tablet grid
@media screen and (min-width: 768px) {
  .grid {
    margin: 30px;
    grid-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
  }
  // .cell {
  //   grid-column: 3/-3;
  // }
 
  .download-pill {
    width: 30%;
  }
}

// desktop grid
@media screen and (min-width: 1024px) {
  .grid {
    margin: 30px 130px;
    grid-template-columns: repeat(12, 1fr);
  }
  // .cell {
  //   grid-column: 5/-5;
  // }
  .download-pill {
    width: 50%;
  }
}
